html
    head
        title!= title
        link(type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')

    body
        div.container
            h1 Node Publisher!

            each item in content
                div.item.well.well-sm
                    h2.title 
                        a(href='#') #{item.title}
                    div.body
                        p #{item.body}
